* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(./img/4.png);
    margin: 0;
}

.ulfirst {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: white;
    position: fixed;
    height: 100%;
    background-image: url(./img/3.png);
    box-shadow: 2px 2px 4px #dff5ad;
    text-align: center;
    display: table;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
}

.iconimg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 100px;
    box-shadow: 2px 2px 4px #dff5ad;
}

/* grid css below */
.grid-container {
    display: grid;
    grid-template-columns: 300px 200px 500px;
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    padding: 10px;

}

.grid-container>div {

    box-shadow: 2px 2px 4px #dff5ad;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* score bar */
/* Make sure that padding behaves as expected */

/* Container for skill bars */
.container2 {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
}


/* Green */
.html {
    width: 90%;
    background-color: #f3fa8c;
}

.css {
    width: 90%;
    background-color: #90cbfc;
}

/* Blue */
.js {
    width: 75%;
    background-color: #f5b0ab;
}

/* Red */
.react {
    width: 75%;
    background-color: #a9f7a9;
}

.github {
    width: 90%;
    background-color: #d399f5;
}

/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 1auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

